Telegram-Google Meet Scheduler.json
{
  "name": "Telegram-Google Meet Scheduler",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        0
      ],
      "id": "7010faab-0648-4503-b847-cab38f2b0bb5",
      "name": "Telegram Trigger",
      "webhookId": "77dda3b6-c3a5-477c-8ab4-d02a80eaed64",
      "credentials": {
        "telegramApi": {
          "id": "1LooE6mVfFXHNthF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.mime_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "04f1fc46-e726-4332-9768-f4d011643939"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eb2e2f5d-4db3-4ebb-8be6-45dc9cae026e",
                    "leftValue": "={{ $json.message.text}}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        192,
        0
      ],
      "id": "77c1255c-cd28-44dc-865b-80cb517569d2",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        -48
      ],
      "id": "1e104f5f-9cff-41f6-ad1e-e37acb738eca",
      "name": "Get a file",
      "webhookId": "fd896fd9-6a8e-409d-b071-9f7d7240b468",
      "credentials": {
        "telegramApi": {
          "id": "1LooE6mVfFXHNthF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        608,
        -48
      ],
      "id": "daf70945-35d1-4129-a04c-791296d6877c",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "hq8zU81kSd4CPC8S",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1317b96f-5be0-466e-9c68-555995a0eee4",
              "name": "Text",
              "value": "={{ $json.text || $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        -48
      ],
      "id": "12cfeca9-299c-4add-bc50-508535096b15",
      "name": "Audio to Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01a5313c-d879-414e-b988-083b9d78f28b",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        304
      ],
      "id": "f61bb915-d513-4bc2-8a16-d9167ff22b87",
      "name": "Text"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "advaitranade4@gmail.com",
          "mode": "id"
        },
        "start": "={{ $json.output.start_time }}",
        "end": "={{ $json.output.end_time }}",
        "additionalFields": {
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "summary": "Meeting Scheduld through N8N"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1376,
        -32
      ],
      "id": "37fa851b-1271-4a18-a62a-b50c8dc9ce68",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ULFDYkyqdGQ0jCqN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1008,
        144
      ],
      "id": "d431dc0b-390b-4110-8b43-013d975c6285",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "hq8zU81kSd4CPC8S",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"start_time\": \"start time\",\n    \"end_time\": \"end time\",\n\t\"candidates\": [\"abc@gmail.com\", \"xyz@gmail.com\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1184,
        160
      ],
      "id": "a1dd1e02-7321-4580-b4a7-08e3f1c63d18",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.Text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful assistant; your task is to schedule Zoom meetings. You'll receive a prompt from the user, which includes timings in full date time format \"[DateTime: 2025-09-13T16:56:58.157+02:00]\", people to add, etc, You need to output data accordingly. \n\nToday: {{ $today }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1024,
        -48
      ],
      "id": "0652db80-e7b5-47ba-96f2-20fde075f8c4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Your meeting is scheduled, here is the meet link: {{ $json.htmlLink }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1744,
        -32
      ],
      "id": "0bb6b4bc-d96e-4f54-8e43-3c26fd37d55e",
      "name": "Send a text message",
      "webhookId": "dd94214f-eac5-43bc-993c-4e6cfa6916b7",
      "credentials": {
        "telegramApi": {
          "id": "1LooE6mVfFXHNthF",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Audio to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio to Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "deb7a44b-c81b-4ac1-96cf-daf8a7333a14",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0dd029c4007ddd3c0495b6e24e590ecef5a9ecc12a24b3558ee352996b6abe7b"
  },
  "id": "N6gtcB3uZUX51e9l",
  "tags": []
}